<!DOCTYPE html>
<html>
<head>
<title>Password Checker</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Password Security Checker</h1>

<form method="POST">
<input type="password" name="password" placeholder="Enter password">
<button type="submit">Check</button>
</form>

{% if strength %}
<h2>Strength: {{ strength }}</h2>
{% endif %}

{% if breached %}
<h2 style="color:red;">Password found in data breach!</h2>
{% else %}
<h2 style="color:green;">Password safe from known breaches</h2>
{% endif %}

</body>
</html>